/*CSS code for my homework week#2 (recreate a website) starts here*/


/*	Stylesheet for Hack Your Future */


/* Desiner:Elias Zerezghi Weldemichael */


/* css code for the most general elements starts here*/

body,
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}


/* css code heading(header) part starts here*/

.heading {
    background-color: rgb(245, 243, 243);
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 60px;
    height: 150px;
}

.heading h1,
.heading p {
    padding-left: 20px;
}


/* css code nav bar part starts here*/

.nav {
    background-color: rgb(228, 226, 225);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    height: 75px;
}

.nav>a {
    text-decoration: none;
    list-style-type: none;
    padding-left: 20px;
    font-weight: bold;
    color: rgb(43, 43, 37);
}


/*Psuedo class for nav bar part*/

.nav a:hover {
    color: rebeccapurple
}

.nav a:focus {
    color: lightslategrey;
}

.nav>a:nth-child(1) {
    padding-left: 0;
}


/* css code building part starts here*/

.building {
    padding-left: 75px;
    padding-top: 20px;
    height: fit-content;
    background-image: url(office.png);
    background-repeat: repeat;
}


/* css code main section starts here*/

.web-development {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap-reverse;*/
    justify-content: space-between;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    height: fit-content;
}

.box1 {
    text-align: left;
    padding-right: 20px;
    font-size: small;
    padding-top: 10px;
}

.box2 {
    padding-left: 50px;
    padding-right: 20px;
    text-align: left;
    font-size: medium;
}

.gallery-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    height: fit-content;
}

.gallery {
    padding-right: 20px;
    text-align: left;
    font-size: small;
    padding-top: 10px;
    width: 75%;
}

.logo-types {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 50px;
    padding-right: 150px;
    text-align: left;
    font-size: medium;
}

.logos {
    display: inline-block;
    align-content: left;
}

.logo img {
    width: 75px;
    height: 75px;
    padding: 20px;
}


/* css code footer part starts here*/

.footer {
    background-color: #785bec;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    height: fit-content;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.find-us>iframe {
    width: 200px;
    height: 300px;
    border: 0;
    tab-size: 0;
}

.archieves h4,
.navigation h4 {
    padding-bottom: 20px;
}


/*CSS Code for mobile device (media query css code) starts here*/

@media screen and (max-width: 580px) {
    body {
        align-items: center;
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-left: 20px;
    }
    .web-development {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
    }
    .box1 {
        padding-left: 20px;
    }
    .box2 {
        padding-left: 20px;
        align-content: center;
        flex-wrap: wrap;
    }
    .gallery-logos {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .gallery {
        width: 89%;
        padding-left: 20px;
    }
    .logo-types {
        padding-right: 0px;
        padding-left: 20px;
        align-content: center;
    }
    .logos>a {
        flex: 0 50%;
        align-content: center;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}